{% extends 'layout.twig' %}
{% block body %}
            <article class="blog">
            <div class="date">
            <time datetime=""></time>
            </div>
            <header>
            <h2><a href="/blogs/{{blog.id}}">{{blog.titulo}}</a></h2>
            </header>
            <img src="../{{blog.imagen}}" />
            <div class="snippet">
            <p>{{blog.blog}}</p>
            </div>
            <footer class="meta">
                <p>Posted by <span class="highlight">{{blog.autor}}</span> at {{blog.created_at.format('Y-m-d H:i:s')}}</p>
                <p>Tags: <span class="highlight">{{blog.tags}}</span></p>
            </footer>
            <div class="comments">
            <h3>Comments</h3>
            {% for comentario in comentarios %}
                <div class="comment">
                <p>{{comentario.user}} comentó el {{comentario.created_at.format('Y-m-d H:i:s')}}</p>
                <p>{{comentario.comment}}</p>
                </div>
            {% endfor %}
            </div>
            </article>
{% endblock %}