{% extends 'layout.twig' %}
{% block body %}
            <article class="blog">
            <div class="date">
            <time datetime=""></time>
            </div>
            <header>
            <h2><a href="/blogs/{{blog.id}}">{{blog.titulo}}</a></h2>
            </header>
            <img src="../{{blog.imagen}}" />
            <div class="snippet">
            <p>{{blog.blog}}</p>
            </div>
            <footer class="meta">
                <p>Posted by <span class="highlight">{{blog.autor}}</span> at {{blog.created_at.format('Y-m-d H:i:s')}}</p>
                <p>Tags: <span class="highlight">{{blog.tags}}</span></p>
            </footer>
            <div class="comments">
            <h3>Comments</h3>
            {% for comentario in comentarios %}
                <div class="comment">
                <p>{{comentario.user}} comentó el {{comentario.created_at.format('Y-m-d H:i:s')}}</p>
                <p>{{comentario.comment}}</p>
                </div>
            {% endfor %}
            <!-- Nuevo comentario -->
            <h1>Nuevo comentario</h1>
            <form method="POST" action="/blogs/{{blog.id}}">
            <label for="autor">Usuario</label>
            <input type="text" name="autor" id="autor">
            <label for="comentario">Comentario</label>
            <textarea name="comentario" id="comentario" cols="30" rows="10"></textarea>
            <input type="submit" value="Enviar comentario" name="Enviar">
            <br/><br/>
            {% if error %}
            <p class="salidaError">{{msg}}</p>
            {% else %}
            <p>{{msg}}</p>
            {% endif %}
            </form>
            </div>
            </article>
{% endblock %}